/* CSS FOR ELOISE DEVITO PORTFOLIO
coded by Eloise DeVito 
last updated: 10/09/25 */
.bag {
    opacity:0.8;
    position: absolute;
    width: 100%;
    height: 200vw;
    top:0px;
    left:0px;
    z-index:1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
}
html {
    background-color:rgb(0, 0, 0);
}

.bag-container {
    position: relative;
    width: 100%;
    height: 150vh;
}
.bag-interior {
    background-image: url(bag.jpeg);
    width:80%;
    height: 75%;
    margin-bottom: 20%;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 25%;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0px;
    left:0px;
    z-index:1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
}

/* ID */
.id {
    background-image: url(idcard.png);
    background-size: cover;
    background-position: center;
    width: 80%;
    transition: transform .2s;
    height: 40vw;
    position: relative;
    margin-left: -50%;
    transform: translateY(30%) rotate(-4deg);
    border-radius: 4%;
    overflow: hidden;
}


.id-image-left {
    background-image: url(pfp.jpg);
    width: 20%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transform: translate(130%, 63%);
}
.id-text-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -55%);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.id-text-right-bottom {
    line-height: 0.3;
}
.id-text {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5vw;
    
}
.id:hover {
    z-index: 1003;
    transform: scale(1.1);
    cursor: pointer;
}
/* POST IT */
.postit {
    background-image: url(postit.png);
    background-size: cover;
    background-position: center;
    width: 55%;
    transition: transform .2s;
    aspect-ratio: 1 / 1;
    margin-left: 50%;
    transform: rotate(2deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.postit-text {
    font-family: "Reenie Beanie", cursive;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0.3em 0;
    transform: translatey(-80%);
}
  
.postit:hover {
    z-index: 1003;
    transform: scale(1.1); 
    /*cursor: pointer; */
}

/* POLOROID */
.poloroid {
    width: 40%;
    box-shadow: 10px 10px 10px -5px rgb(0, 0, 0);
    height: 25%;
    background-color: rgb(255, 255, 255);
    margin-left: -40%;
    display: flex;
    transition: transform .2s;
    flex-direction: column;
    transform:rotate(1deg);
}
.poloroidimage {
    background-color:rgb(0, 0, 0);
    width: 90%;
    height: 75%;
    margin: 5%;
}
.poloroidtext {
    font-family: "Reenie Beanie", cursive;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -50%;
    transform: translatey(100%);
}
.poloroid:hover {
    z-index: 1003;
    transform: scale(1.1); 
    cursor: pointer;
}
/* BRACELET */
.bracelet {
    width: 52%;
    transition: transform .2s;
    height: 35%;
    display: flex;
    background-image: url(bracelet.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 52%;
    left: 40%;
}
.bracelet:hover {
    z-index: 1003;
    transform: scale(1.1); 
    cursor: pointer;
}
/* TITLE - HEADER THING IDK */
.title {
    color: white;
    position: absolute;
    top: 7%;
    font-size: 10vw;
    display: inline-block;
    z-index: 1001;
    font-family: "Archivo", sans-serif;
    left: 13%;
    text-align: center;

}
/* CONTACT INFO */
.contact {
    color: white;
    position: absolute;
    top: 375vw;
    font-size: 2vw;
    display: inline-block;
    z-index: 1001;
    font-family: "Archivo", sans-serif;
    left: 25%;
    text-align: center;

}
.social-media {
    display: flex;
    justify-content: center;
}

.twitter, .instagram, .github {
    display: flex;
    margin: 1%;
}

.twitter {
    background-image: url(twitter.svg.png);
    background-size: cover;
    background-position: center;
    width: 5vw;
    height: 4vw;
}

.instagram {
    background-image: url(instagram.png.webp);
    background-size: cover;
    background-position: center;
    width: 4vw;
    height: 4vw;
}

.github {
    background-image: url(github.png);
    background-size: cover;
    background-position: center;
    width: 4vw;
    height: 4vw;
}

/* ABOUT ME */
#aboutme {
    color: white;
    position: absolute;
    font-size: 3vw;
    display: inline-block;
    z-index: 1001;
    font-family: "Archivo", sans-serif;
    text-align: center;

}
.bluenotecard {
    background-image: url(bluenotecard.png);
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}
.purplenotecard {
    background-image: url(purplenotecard.png);
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}
.greennotecard {
    background-image: url(greennotecard.png);
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}
.bluenotecard:hover, .greennotecard:hover, .purplenotecard:hover {
    z-index: 1003;
    transform: translateY(-100px) scale(1.1);
}
/*PAPER W/ SKILLS */
.paper {
    width: 90%;
    height: 50%;
    background-image: url(paper.png);
    background-size: cover;
    background-position: center;
    transform:rotate(10deg);
}

.paper-text {
    padding: 10%;
    font-size: 1.5vw;
    font-family:'Courier New', Courier, monospace;
}
/* MEDIA QUERYS */
@media only screen and (max-width: 600px) {
    .bluenotecard, .greennotecard, .purplenotecard {
        width: 70vw;
        height: 40vw;
        margin: 3%;
        padding: 3vw;
        font-size: 3.5vw;
        margin-top: -30%;
        color: black;
        font-family: "Reenie Beanie", cursive;
    }
    #aboutme {
        left: 12%;
        top: 100%;    
    }
    .paper {
        position: absolute;
        left: 7%;
        top: 135%;
    }
}
@media only screen and (min-width: 601px) {
    .bluenotecard, .greennotecard, .purplenotecard {
        width: 45vw;
        height: 30vw;
        margin: 5%;
        padding: 3vw;
        margin-top: -45%;
        font-size: 2.5vw;
        color: black;
        font-family: "Reenie Beanie", cursive;
    }
    #aboutme {
        left: 23%;
        top: 100%;    
    }
    .paper {
        position: absolute;
        left: 7%;
        top: 120%;
    }
}
